<!DOCTYPE html>
<html>
<head>
    <title>Body-Parser Module Demo</title>
</head>
 
<body>
    <h1>Demo Form</h1>
 
    <form action="/login" method="POST">
        <pre>
            Enter code that is send to your phone   : <input type="text"
                                name="code"> <br> 
            <input type="submit" value="Submit Form">
        
        </pre>
                
    </form>
</body>
 
</html>