<!DOCTYPE html>
<html>
<head>
    <title>Body-Parser Module Demo</title>
</head>
 
<body>
    <h1>Demo Form</h1>
 
    <form action="/saved-factor" method="POST">
        <pre>
            seller : <input type="text"
                                name="seller"> <br>
        </pre>
        <pre>
            buyer : <input type="text"
                                name="buyer"> <br>
                                 
        </pre>  <pre>
            product : <input type="text"
                                name="product"> <br>
                                 
        </pre>
        <pre>
            count : <input type="text"
                                name="count"> <br>              
            <input type="submit" value="Submit Form">
        </pre>
    </form>
</body>
 
</html>