<!DOCTYPE html>
<html>
<head>
    <title>Body-Parser Module Demo</title>
</head>
 
<body> 
    <form action="/factors-found" method="POST">
        <pre>
            <input type="submit" value="show me factors">
        
        </pre>
                
    </form>
</body>
 
</html>