<!DOCTYPE html>
<html>
<head>
    <title>Body-Parser Module Demo</title>
</head>
 
<body>
    <h1>Demo Form</h1>
 
    <form action="/signValid" method="POST">
        <pre>
            Enter your fullname    : <input type="text"
                                name="fullname"> <br>
        </pre>
        <pre>
            Enter your phone    : <input type="text"
                                name="phone"> <br>
                                 
        </pre>  <pre>
            Enter your address    : <input type="text"
                                name="address"> <br>
                                 
        </pre>
        <pre>
            Enter your Email    : <input type="text"
                                name="email"> <br>
                                 
        </pre>
        <pre>
            upload your image    : <input type="file"
                                name="image"> <br>
    
                                 
            <input type="submit" value="Submit Form">
        </pre>
    </form>
</body>
 
</html>